<table
  style="
    border-collapse: collapse;
    padding: 0;
    max-width: 480px;
    width: 100%;
    border: 0;
    background-color: #ffffff;
    margin: 0 auto;
    word-break: break-word;
  "
  cellpadding="0"
  cellspacing="0"
>
  <tbody style="border: none; padding: 0; margin: 0">
    <tr style="border: none; margin: 0px; padding: 0px">
      <td style="border: none; padding: 0; margin: 0">
        <div id="main_mr_css_attr" style="border: none; padding: 0; margin: 0">
          <table
            class="header-root_mr_css_attr"
            style="
              border-collapse: collapse;
              padding: 0;
              background-color: #ffffff;
              text-align: left;
              width: 100%;
              height: 50px;
            "
          >
            <tbody style="border: none; padding: 0; margin: 0">
              <tr style="border: none; margin: 0px; padding: 0px; height: 24px">
                <td
                  colspan="3"
                  style="border: none; padding: 0; margin: 0; height: 24px"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px">
                <td
                  style="border: none; padding: 0; margin: 0; width: 24px"
                ></td>
                <td style="border: none; padding: 0; margin: 0">
                  <a
                    href="<%= URL %>"
                    style="text-decoration: none; color: #1ed760"
                    target="_blank"
                    rel=" noopener noreferrer"
                    ><img
                      alt=""
                      class="logo_mr_css_attr"
                      style="
                        display: block;
                        max-width: 100%;
                        margin-right: auto;
                        width: 122px;
                        height: 37px;
                      "
                      height="37"
                      src="<%= URL %>/android-chrome-192x192.png"
                  /></a>
                </td>
                <td
                  style="border: none; padding: 0; margin: 0; width: 24px"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px; height: 24px">
                <td
                  colspan="3"
                  style="border: none; padding: 0; margin: 0; height: 24px"
                ></td>
              </tr>
            </tbody>
          </table>
          <table
            style="
              border-collapse: collapse;
              padding: 0;
              width: 100%;
              background-color: #ffffff;
              font-family: 'helvetica', 'arial', sans-serif !important;
              font-size: 40px;
            "
            dir="auto"
          >
            <tbody style="border: none; padding: 0; margin: 0">
              <tr style="border: none; margin: 0px; padding: 0px; height: 24px">
                <td
                  colspan="3"
                  style="border: none; padding: 0; margin: 0; height: 24px"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px">
                <td
                  style="border: none; padding: 0; margin: 0; width: 24px"
                ></td>
                <td style="border: none; padding: 0; margin: 0">
                  <p
                    style="
                      border: none;
                      padding: 0;
                      margin: 0;
                      background-color: #ffffff;
                      color: #000000;
                      font-size: 40px;
                      font-family: 'helvetica', 'arial', sans-serif !important;
                      font-weight: 400;
                      text-align: center;
                    "
                  >
                    <b style="border: none; padding: 0; margin: 0"
                      >Привет,<b style="border: none; padding: 0; margin: 0"></b
                    ></b>
                  </p>
                </td>
                <td
                  style="border: none; padding: 0; margin: 0; width: 24px"
                ></td>
              </tr>
            </tbody>
          </table>
          <table
            style="
              border-collapse: collapse;
              padding: 0;
              width: 100%;
              background-color: #ffffff;
              font-family: 'helvetica', 'arial', sans-serif !important;
              font-size: 14px;
            "
            dir="auto"
          >
            <tbody style="border: none; padding: 0; margin: 0">
              <tr style="border: none; margin: 0px; padding: 0px; height: 24px">
                <td
                  colspan="3"
                  style="border: none; padding: 0; margin: 0; height: 24px"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px">
                <td
                  style="border: none; padding: 0; margin: 0; width: 24px"
                ></td>
                <td style="border: none; padding: 0; margin: 0">
                  <p
                    style="
                      border: none;
                      padding: 0;
                      margin: 0;
                      background-color: #ffffff;
                      color: #000000;
                      font-size: 14px;
                      font-family: 'helvetica', 'arial', sans-serif !important;
                      font-weight: 400;
                      text-align: left;
                    "
                  >
                    Не беспокойся. Вы можете сбросить свой пароль SectionZ,
                    нажав на ссылку ниже:
                    <br />
                  </p>
                </td>
                <td
                  style="border: none; padding: 0; margin: 0; width: 24px"
                ></td>
              </tr>
            </tbody>
          </table>
          <table
            style="
              border-collapse: collapse;
              padding: 0;
              width: 100%;
              background-color: #ffffff;
              font-family: 'helvetica', 'arial', sans-serif !important;
              font-size: 14px;
            "
            dir="auto"
          >
            <tbody style="border: none; padding: 0; margin: 0">
              <tr style="border: none; margin: 0px; padding: 0px; height: 8px">
                <td
                  colspan="3"
                  style="border: none; padding: 0; margin: 0; height: 8px"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px">
                <td
                  style="border: none; padding: 0; margin: 0; width: 24px"
                ></td>
                <td style="border: none; padding: 0; margin: 0">
                  <p
                    style="
                      border: none;
                      padding: 0;
                      margin: 0;
                      background-color: #ffffff;
                      color: #000000;
                      font-size: 14px;
                      font-family: 'helvetica', 'arial', sans-serif !important;
                      font-weight: 400;
                      text-align: left;
                    "
                  >
                    <a
                      href="<%= URL %>?code=<%= TOKEN %>"
                      target="_blank"
                      rel=" noopener noreferrer"
                      >Сброс пароля</a
                    ><br />
                  </p>
                </td>
                <td
                  style="border: none; padding: 0; margin: 0; width: 24px"
                ></td>
              </tr>
            </tbody>
          </table>
          <table
            style="
              border-collapse: collapse;
              padding: 0;
              width: 100%;
              background-color: #ffffff;
              font-family: 'helvetica', 'arial', sans-serif !important;
              font-size: 14px;
            "
            dir="auto"
          >
            <tbody style="border: none; padding: 0; margin: 0">
              <tr style="border: none; margin: 0px; padding: 0px; height: 5px">
                <td
                  colspan="3"
                  style="border: none; padding: 0; margin: 0; height: 5px"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px">
                <td
                  style="border: none; padding: 0; margin: 0; width: 24px"
                ></td>
                <td style="border: none; padding: 0; margin: 0">
                  <p
                    style="
                      border: none;
                      padding: 0;
                      margin: 0;
                      background-color: #ffffff;
                      color: #000000;
                      font-size: 14px;
                      font-family: 'helvetica', 'arial', sans-serif !important;
                      font-weight: 400;
                      text-align: left;
                    "
                  >
                    Если вы не запрашивали сброс пароля, вы можете удалить это
                    письмо и продолжать наслаждаться музыкой!
                  </p>
                </td>
                <td
                  style="border: none; padding: 0; margin: 0; width: 24px"
                ></td>
              </tr>
            </tbody>
          </table>
          <table
            style="
              border-collapse: collapse;
              padding: 0;
              width: 100%;
              background-color: #ffffff;
              font-family: 'helvetica', 'arial', sans-serif !important;
              font-size: 14px;
            "
            dir="auto"
          >
            <tbody style="border: none; padding: 0; margin: 0">
              <tr style="border: none; margin: 0px; padding: 0px; height: 5px">
                <td
                  colspan="3"
                  style="border: none; padding: 0; margin: 0; height: 5px"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px">
                <td
                  style="border: none; padding: 0; margin: 0; width: 24px"
                ></td>
                <td style="border: none; padding: 0; margin: 0">
                  <p
                    style="
                      border: none;
                      padding: 0;
                      margin: 0;
                      background-color: #ffffff;
                      color: #000000;
                      font-size: 14px;
                      font-family: 'helvetica', 'arial', sans-serif !important;
                      font-weight: 400;
                      text-align: left;
                    "
                  >
                    Искренне, Команда SectionZ
                  </p>
                </td>
                <td
                  style="border: none; padding: 0; margin: 0; width: 24px"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px; height: 40px">
                <td
                  colspan="3"
                  style="border: none; padding: 0; margin: 0; height: 40px"
                ></td>
              </tr>
            </tbody>
          </table>
          <table
            style="
              border-collapse: collapse;
              padding: 0;
              background-color: #f7f7f7;
              width: 100%;
            "
            class="footer-root_mr_css_attr"
            dir="auto"
          >
            <tbody style="border: none; padding: 0; margin: 0">
              <tr style="border: none; margin: 0px; padding: 0px; height: 25px">
                <td
                  colspan="3"
                  style="border: none; padding: 6.25px; margin: 0; height: 25px"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px">
                <td
                  style="border: none; padding: 0; margin: 0; width: 6.25%"
                ></td>
                <td style="border: none; padding: 0; margin: 0">
                  <img
                    alt="SectionZ Logo"
                    height="23"
                    style="display: block; max-width: 100%; height: 23px"
                    src="https://proxy.imgsmail.ru?e=1701340758&amp;email=sysoev.edik%40mail.ru&amp;flags=0&amp;h=q_P2mp65Gc3ob6a2h0BvFw&amp;is_https=0&amp;url173=bWVzc2FnZS1lZGl0b3Iuc2Nkbi5jby9uZXdzbGV0dGVyL2ltYWdlcy9sb2dvX2Zvb3Rlci5wbmc~"
                  />
                </td>
                <td
                  style="border: none; padding: 0; margin: 0; width: 6.25%"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px; height: 25px">
                <td
                  colspan="3"
                  style="border: none; padding: 6.25px; margin: 0; height: 25px"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px">
                <td
                  style="border: none; padding: 0; margin: 0; width: 6.25%"
                ></td>
                <td style="border: none; padding: 0; margin: 0">
                  <hr
                    style="
                      height: 1px;
                      background-color: #d1d5d9;
                      border: none;
                      margin: 0px;
                      padding: 0px;
                    "
                  />
                </td>
                <td
                  style="border: none; padding: 0; margin: 0; width: 6.25%"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px; height: 12px">
                <td
                  colspan="3"
                  style="border: none; padding: 3px; margin: 0; height: 12px"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px">
                <td
                  style="border: none; padding: 0; margin: 0; width: 6.25%"
                ></td>
                <td
                  class="font_mr_css_attr"
                  style="
                    border: none;
                    padding: 0;
                    margin: 0;
                    font-family: 'helvetica', 'arial', sans-serif;
                    font-weight: 400;
                    line-height: 1.65em;
                    letter-spacing: 0.15px;
                    font-size: 11px;
                    text-decoration: none;
                    color: #88898c;
                  "
                >
                  Полный доступ к музыке. Попробуй SectionZ для&nbsp;: &nbsp;<a
                    class="footer-separated-text_mr_css_attr"
                    style="
                      text-decoration: none;
                      color: #6d6d6d;
                      display: inline-block;
                      font-weight: 700;
                    "
                    href="<%= URL %>"
                    target="_blank"
                    rel=" noopener noreferrer"
                    >Web</a
                  >
                </td>
                <td
                  style="border: none; padding: 0; margin: 0; width: 6.25%"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px; height: 12px">
                <td
                  colspan="3"
                  style="border: none; padding: 3px; margin: 0; height: 12px"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px">
                <td
                  style="border: none; padding: 0; margin: 0; width: 6.25%"
                ></td>
                <td style="border: none; padding: 0; margin: 0">
                  <hr
                    style="
                      height: 1px;
                      background-color: #d1d5d9;
                      border: none;
                      margin: 0px;
                      padding: 0px;
                    "
                  />
                </td>
                <td
                  style="border: none; padding: 0; margin: 0; width: 6.25%"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px; height: 25px">
                <td
                  colspan="3"
                  style="border: none; padding: 6.25px; margin: 0; height: 25px"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px">
                <td
                  style="border: none; padding: 0; margin: 0; width: 6.25%"
                ></td>
                <td
                  class="font_mr_css_attr"
                  style="
                    border: none;
                    padding: 0;
                    margin: 0;
                    font-family: 'helvetica', 'arial', sans-serif;
                    font-weight: 400;
                    line-height: 1.65em;
                    letter-spacing: 0.15px;
                    font-size: 11px;
                    text-decoration: none;
                    color: #88898c;
                  "
                >
                  <span style="border: none; padding: 0; margin: 0"
                    >Данное сообщение было отправлено на адрес <%= USER.email
                    %>.
                  </span>
                  Если у вас есть какие-либо вопросы или жалобы,
                  <a
                    class="footer-link_mr_css_attr"
                    href="<%= SERVER_URL %>"
                    style="
                      border: none;
                      margin: 0px;
                      padding: 0px;
                      text-decoration: none;
                      color: rgb(109, 109, 109);
                      font-weight: bold;
                    "
                    target="_blank"
                    rel=" noopener noreferrer"
                    >свяжитесь с нами</a
                  >.
                </td>
                <td
                  style="border: none; padding: 0; margin: 0; width: 6.25%"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px; height: 33px">
                <td
                  colspan="3"
                  style="border: none; padding: 8.25px; margin: 0; height: 33px"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px">
                <td
                  style="border: none; padding: 0; margin: 0; width: 6.25%"
                ></td>
                <td
                  class="font_mr_css_attr font-small_mr_css_attr"
                  style="
                    border: none;
                    padding: 0;
                    margin: 0;
                    font-family: 'helvetica', 'arial', sans-serif;
                    font-weight: 400;
                    line-height: 1.65em;
                    letter-spacing: 0.15px;
                    font-size: 11px;
                    text-decoration: none;
                    color: #88898c;
                  "
                >
                  <a
                    class="footer-separated-text_mr_css_attr"
                    style="
                      text-decoration: none;
                      color: #6d6d6d;
                      display: inline-block;
                      font-weight: 700;
                    "
                    href="<%= URL %>/terms"
                    target="_blank"
                    rel=" noopener noreferrer"
                    >Условия использования</a
                  ><span
                    style="
                      border: none;
                      padding: 4px 0;
                      margin: 0 7px;
                      width: 1px;
                      border-left: solid 1px #c3c3c3;
                      border-right: solid 1px transparent;
                    "
                    >&nbsp;</span
                  ><a
                    class="footer-separated-text_mr_css_attr"
                    style="
                      text-decoration: none;
                      color: #6d6d6d;
                      display: inline-block;
                      font-weight: 700;
                    "
                    href="<%= URL %>/privacy"
                    target="_blank"
                    rel=" noopener noreferrer"
                    >Политика конфиденциальности</a
                  ><span
                    style="
                      border: none;
                      padding: 4px 0;
                      margin: 0 7px;
                      width: 1px;
                      border-left: solid 1px #c3c3c3;
                      border-right: solid 1px transparent;
                    "
                    >&nbsp;</span
                  ><a
                    class="footer-separated-text_mr_css_attr"
                    style="
                      text-decoration: none;
                      color: #6d6d6d;
                      display: inline-block;
                      font-weight: 700;
                    "
                    href="https://wl.spotify.com/ls/click?upn=bHOrs-2BgBf2z357695V5HTQJn5v-2B7oe-2FqWTxGxDXdXC4qrVmD6fRpTxmGor1dLQtgT2AGij9IYZKIH6T5N8NrHA-3D-3DLlUu_dW0ZKbmxOjhNQkAwNL2KO080vbeg-2BBi3GbQxXfo-2B97Uv-2BVKxKelAjryTjQTbgh9m-2BGK-2FmiJGvzNy5bsNOBQp1GhsmFok-2FKXfiZ7fxUzFdZj7mSdOpe-2FAH2L7fssbAbBrk8qK1rFyCOXcFn-2FJfi1YsBEFW-2BrUf1glmRPqpXVpS3E9RF4Nt9GJzSRi4oY6WQc2sKVa6F0RO59gqKW456IfBgZRCD3A6DlTyZ-2B7Ky3PnckYBUcN9keXMmDn5XtqgwNk4X-2BpAmRhTX6T70ccLtv7Ac4LGvX-2BKil5WT4Pu8mHsDJKP23CkpX5lNxs9AegbFxT8lbq5dgqhQw9vZoJ8-2F86-2BAQjB9ivypqYvO1HmnRxd7IkTrxRQFPIgwwLbX1k2H8hVwzkVSYn4WiXyiF-2BN87YIyqxarzKWQxkpjOO-2FEgClaX4z-2Bezv-2FBqokSuX-2BvHfBQxgzUAUJnJuyqT7wKQCcIN3C3fsFd4nKr7ry5SGJY4F2evgkKtRj6IyotKC3V83JOnrTcU3ju-2FZjvRkxEgHklFmeatY5WCAX7jwoNZyzFpyBI-3D"
                    target="_blank"
                    rel=" noopener noreferrer"
                    >Связаться с нами</a
                  >
                </td>
                <td
                  style="border: none; padding: 0; margin: 0; width: 6.25%"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px; height: 12px">
                <td
                  colspan="3"
                  style="border: none; padding: 3px; margin: 0; height: 12px"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px">
                <td
                  style="border: none; padding: 0; margin: 0; width: 6.25%"
                ></td>
                <td
                  class="font_mr_css_attr font-small_mr_css_attr"
                  style="
                    border: none;
                    padding: 0;
                    margin: 0;
                    font-family: 'helvetica', 'arial', sans-serif;
                    font-weight: 400;
                    line-height: 1.65em;
                    letter-spacing: 0.15px;
                    font-size: 11px;
                    text-decoration: none;
                    color: #88898c;
                  "
                >
                  SectionZ Company, Velikiy Novgorod, Russia
                </td>
                <td
                  style="border: none; padding: 0; margin: 0; width: 6.25%"
                ></td>
              </tr>
              <tr style="border: none; margin: 0px; padding: 0px; height: 25px">
                <td
                  colspan="3"
                  style="border: none; padding: 6.25px; margin: 0; height: 25px"
                ></td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
